<a href="https://colab.research.google.com/github/AnalysisByDoing/visualizations-jschk/blob/main/Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Cleaning and Handling Data</h1>

In [ ]:
# Numerical Data
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0, 1000, size=(10, 5)), columns=list('ABCDE'))
df

     A    B    C    D    E
0  478   42  491  140  388
1  366  496   58  402  816
2  403  968   58  640  899
3  738  389  528  151  798
4  883  172  910  644  156
5  990  837  429  411  673
6  950  179  641  209  710
7  242  209  149   82  780
8  123  140  361  496  576
9  175  664  970  575  167

In [ ]:
# Categorical Data
df_categorical = pd.DataFrame({"Color": ["Red", "Blue", "Purple", "Yellow"], "Car Brand": ["Dodge", "Mercedes", "Fiat", "Daewoo"]})
df_categorical

    Color Car Brand
0     Red     Dodge
1    Blue  Mercedes
2  Purple      Fiat
3  Yellow    Daewoo

<h1>Missing Values</h1>

NaNs

In [ ]:
# Handle NaNs
create_nan = {'example': [np.nan, np.nan, 20, 30, 40, 50, 60, np.nan, np.nan, 1, 2, 3, 4, 5, np.nan, np.nan, np.nan]}
df_nan = pd.DataFrame(create_nan)
df_nan

    example
0       NaN
1       NaN
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7       NaN
8       NaN
9       1.0
10      2.0
11      3.0
12      4.0
13      5.0
14      NaN
15      NaN
16      NaN

In [ ]:
df_nan.isnull().values.any()

True

In [ ]:
df_nan['example'].isnull().values.any()

True

In [ ]:
df_nan.isnull().sum()

example    7
dtype: int64

In [ ]:
df_clean = df_nan.fillna(0)
df_clean

    example
0       0.0
1       0.0
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7       0.0
8       0.0
9       1.0
10      2.0
11      3.0
12      4.0
13      5.0
14      0.0
15      0.0
16      0.0

In [ ]:
df_nan.fillna(method='ffill')

    example
0       NaN
1       NaN
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7      60.0
8      60.0
9       1.0
10      2.0
11      3.0
12      4.0
13      5.0
14      5.0
15      5.0
16      5.0

In [ ]:
df_nan.fillna(method='bfill')

    example
0      20.0
1      20.0
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7       1.0
8       1.0
9       1.0
10      2.0
11      3.0
12      4.0
13      5.0
14      NaN
15      NaN
16      NaN

In [ ]:
df_drop = df_nan.dropna()
df_drop

    example
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
9       1.0
10      2.0
11      3.0
12      4.0
13      5.0

In [ ]:
df_drop.describe()

         example
count  10.000000
mean   21.500000
std    22.192341
min     1.000000
25%     3.250000
50%    12.500000
75%    37.500000
max    60.000000

<h1>Encoding</h1>

In [ ]:
print(df_categorical)
pd.get_dummies(df_categorical)

    Color Car Brand
0     Red     Dodge
1    Blue  Mercedes
2  Purple      Fiat
3  Yellow    Daewoo

   Color_Blue  Color_Purple  ...  Car Brand_Fiat  Car Brand_Mercedes
0           0             0  ...               0                   0
1           1             0  ...               0                   1
2           0             1  ...               1                   0
3           0             0  ...               0                   0

[4 rows x 8 columns]

<h1>Converting Data Types</h1>

In [ ]:
print(df_clean)
df_clean.dtypes

    example
0       0.0
1       0.0
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7       0.0
8       0.0
9       1.0
10      2.0
11      3.0
12      4.0
13      5.0
14      0.0
15      0.0
16      0.0

example    float64
dtype: object

In [ ]:
df_string = df_clean.astype('string')
print(df_string.dtypes)
df_string

In [ ]:
df_int = df_clean.astype('int')
print(df_int.dtypes)
df_int

example    int64
dtype: object

    example
0         0
1         0
2        20
3        30
4        40
5        50
6        60
7         0
8         0
9         1
10        2
11        3
12        4
13        5
14        0
15        0
16        0